body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .buttons {
    text-align: center;
    margin: 20px;
  }
  
  .buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  #content {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  #clienteResult, #productoResult, #pedidoResult {
    margin-top: 20px;
    white-space: pre-wrap;
    font-family: monospace;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Estilos para las tablas */
  .tabla {
    border-collapse: collapse;
    width: 80%; /* Ancho de la tabla */
    margin: 0 auto; /* Centrar la tabla horizontalmente */
  }
  
  /* Estilos para los titulares de las columnas */
th {
    background-color: #f2f2f2; /* Color de fondo */
    color: #333; /* Color del texto */
    font-weight: bold; /* Negrita */
    text-align: center; /* Alinear el texto al centro */
    border: 1px solid #ddd; /* Borde */
    word-wrap: break-word; /* Ajustar texto dentro de las celdas */
  }  
    td {
    border: 1px solid #ddd; /* Borde */
    text-align: center; /* Alinear el texto al centro */
    padding: 4px; /* Espaciado interior */
    word-wrap: break-word; /* Ajustar texto dentro de las celdas */
    width: inherit;
  }
  