body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Color de fondo */
}

h1, h2 {
  text-align: center;
  color: #333; /* Color del texto */
}

.buttons {
  text-align: center;
  margin: 20px;
}

 button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.buttons button:hover {
  background-color: #45a049; /* Color de fondo al pasar el ratón */
}

#content {
  margin: 20px auto; /* Centrar horizontalmente */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff; /* Color de fondo */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

#clienteResult, #productoResult, #pedidoResult {
  margin-top: 20px;
  white-space: pre-wrap;
  font-family: monospace;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
}

.tabla {
  border-collapse: collapse;
  width: 80%; /* Ancho de la tabla */
  margin: 20px auto; /* Centrar horizontalmente */
}

th {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  font-weight: bold;
  text-align: center;
  border: 1px solid #ddd;
  word-wrap: break-word;
}

td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
}

.fila {
  vertical-align: middle;
  text-align: center;
}
